.navbar {
    padding: 1rem 0;
  }
  
  .logo {
    margin-right: auto;
  }
  
a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  a:hover {
    color: gold;
  }
  
  header {
    background-color: #2a579a;
    color: #ffffff;
  }