<div class="d-flex">
  <app-regions *ngFor="let region of regions$ | async" [region]="region" (regionClick)="loadSousRegions($event)"></app-regions>
</div>

<div *ngIf="selectedRegion" class="mt-4" class="list-group">
  <h3>Sous-régions de {{ selectedRegion.name }}</h3>
  <app-sous-regions *ngFor="let sousRegion of sousRegions$ | async" [sousRegion]="sousRegion" (sousRegionClick)="loadPays($event)"></app-sous-regions>
</div>


<div *ngIf="pays$ | async as paysArray">
  <pagination [totalItems]="paysArray.length" [(ngModel)]="currentPage" [itemsPerPage]="pageSize" class="mt-3"></pagination>
  
</div>
<div *ngIf="selectedSousRegion">
  <h3 class="mt-4">Pays de {{ selectedSousRegion.name }} ({{ selectedSousRegion.region.name }})</h3>
  <input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Rechercher par nom de pays"
    (keyup)="onSearch()">
  <app-pays *ngFor="let paysItem of pays$ | async | slice: ((currentPage-1)*pageSize):(currentPage*pageSize)"
    [pays]="paysItem"></app-pays>
  
</div>




